services:
  minio:
      image: minio/minio:latest
      container_name: minio
      restart: always
      ports:
        - "9000:9000"  # S3 API
        - "9001:9001"  # Web UI
      environment:
        MINIO_ROOT_USER: ${MINIO_ROOT_USER}
        MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
      volumes:
        - minio_data:/data
      command: server /data --console-address ":9001"

volumes:
  minio_data: